/**
Copyright © <BalaM314>, 2024. All Rights Reserved.
This file is part of soodocode. Soodocode is open source and is available at https://github.com/BalaM314/soodocode

This file contains CSS styles for the webpage.
*/


body {
	margin: 0px;
	background-image: url("https://balam314.github.io/starfield.png");
	background-repeat: no-repeat;
	background-color: #000;
	height: 100%;
	overflow-y: scroll;
}
html {
	height: 100%;
	overflow: hidden;
}
#container {
	margin: 20px;
	border: ridge green 10px;
	padding: 15px;
	background-color: #002;
	color: whitesmoke;
	font-size: 20px;
}
#soodocode-input, input[type="text"] {
	font-size: larger;
	margin: 20px;
	padding: 10px;
	background-color: #051505;
	color: #FFF;
	tab-size: 4;
}
@media screen and (max-width: 600px) {
	#container {
		margin: 0px;
		padding: 15px 1.5vw;
		border-width: 5px;
		background-color: #0046;
	}
	#soodocode-input {
		margin: 0px;
		width: 95%;
	}
}
button {
	font-size: larger;
}
#input-wrapper {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.behind {
	position: absolute;
	z-index: -1;
}

table {
	border-collapse: collapse;
}

td {
	border: 2px solid orange;
}

th {
	border: 2px solid purple;
}

td, th {
	padding: 5px;
}

.output-div {
	min-width: 100px;
	width: fit-content;
	min-height: 50px;
	background-color: black;
	border: 2px dashed green;
	font-family: 'Courier New', Courier, monospace;
	white-space: pre;
	margin: 20px;
	padding: 5px;
}

.program-display-inner {
	border-left: 15px solid #0FF6;
	padding: 5px;
}
.program-display-outer {
	border-left: 4px solid #0FF6;
	border-top: 2px solid #0FF6;
	border-bottom: 2px solid #0FF6;
	padding: 3px;
}

.expression-display-block {
	background-color: #0FF2;
}
.expression-container {
	border: 1px solid #0FF8;
}

.display-scroller {
	max-height: 600px;
	width: fit-content;
	overflow-y: scroll;
	border-top: 5px solid gray;
	border-bottom: 5px solid gray;
}

h2 {
	margin: 0;
}
