
body {
	margin: 0px;
	background-image: url("https://balam314.github.io/starfield.png");
	background-repeat: no-repeat;
	background-color: #000;
	height: 100%;
	overflow-y: scroll;
}
html {
	height: 100%;
	overflow: hidden;
}
#container {
	margin: 20px;
	border: ridge green 10px;
	padding: 15px;
	background-color: #002;
	color: whitesmoke;
	font-size: 20px;
}
#soodocode-input, input[type="text"] {
	font-size: larger;
	margin: 20px;
	padding: 10px;
	background-color: #051505;
	color: #FFF;
}
@media screen and (max-width: 600px) {
	#container {
		margin: 0px;
		padding: 15px 1.5vw;
		border-width: 5px;
		background-color: #0046;
	}
	#soodocode-input {
		margin: 0px;
		width: 95%;
	}
}
button {
	font-size: larger;
}
#input-wrapper {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.behind {
	position: absolute;
	z-index: -1;
}

table {
	border-collapse: collapse;
}

td {
	border: 2px solid orange;
}

th {
	border: 2px solid purple;
}

td, th {
	padding: 5px;
}

.output-div {
	min-width: 100px;
	width: fit-content;
	min-height: 50px;
	background-color: black;
	border: 2px dashed green;
	font-family: 'Courier New', Courier, monospace;
	white-space: pre;
	margin: 20px;
	padding: 5px;
}
