/**
Copyright © <BalaM314>, 2024. All Rights Reserved.
This file is part of soodocode. Soodocode is open source and is available at https://github.com/BalaM314/soodocode

This file contains CSS styles for the webpage.
*/

:root {
	/* variables */
	--header-color: #EA0;
	--background-image-url: url("https://balam314.github.io/starfield.png");
	--header-icon-size: 3em;
	--header-text-min-width: 200px;
	--outer-border-color: #008000;
	--container-background-color: #0048;
	--text-input-background-color: #051505;
	--program-block-accent-color: #0FF6;
	--program-expression-outline-color: #0FF8;
	--program-expression-background-color: #0FF2;

	/* settings */
	font-family: sans-serif;
}

body {
	margin: 0px;
	background-image: var(--background-image-url);
	background-repeat: no-repeat;
	background-color: #000;
	height: 100%;
	overflow-y: scroll;
}
html {
	height: 100%;
	overflow: hidden;
}

#header {
	display: grid;
	width: 100%;
	grid-template-columns: var(--header-icon-size) minmax(var(--header-text-min-width), 1fr) var(--header-icon-size);
	margin-bottom: 30px;
}

/* TODO theme */
#theme-button {
	margin-left: auto;
	width: var(--header-icon-size);
	height: var(--header-icon-size);
	place-content: center;
	background-color: rgb(222, 222, 222);
	display: grid;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	border: none;
	transition: box-shadow 400ms ease;
	display: none;
}

#header-text {
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
	color: var(--header-color);
	user-select: none;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-name: none;
}

#github-icon {
	background-image:url('https://raw.githubusercontent.com/devicons/devicon/master/icons/github/github-original.svg');
	width: var(--header-icon-size);
	height: var(--header-icon-size);
	display: block;
	transition: box-shadow 400ms ease;
	border-radius: 100%;
	filter: invert();
}
#github-icon:hover {
	box-shadow: 0 0 19px -1px grey;
}

#container {
	margin: 20px;
	border: ridge var(--outer-border-color) 10px;
	padding: 15px;
	background-color: var(--container-background-color);
	color: #f5f5f5;
	font-size: 20px;
}
#soodocode-input, input[type="text"] {
	font-size: larger;
	margin: 20px;
	padding: 10px;
	background-color: var(--text-input-background-color);
	color: #FFF;
	tab-size: 4;
}
@media screen and (max-width: 600px) {
	#container {
		margin: 0px;
		padding: 15px 1.5vw;
		border-width: 5px;
		background-color: #0046;
	}
	#soodocode-input {
		margin: 0px;
		width: 95%;
	}
}
button {
	font-size: larger;
}
#input-wrapper {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.behind {
	position: absolute;
	z-index: -1;
}

table {
	border-collapse: collapse;
}

td {
	border: 2px solid orange;
}

th {
	border: 2px solid purple;
}

td, th {
	padding: 5px;
}

.output-div {
	min-width: 100px;
	width: fit-content;
	min-height: 50px;
	background-color: black;
	border: 2px dashed green;
	font-family: 'Courier New', Courier, monospace;
	white-space: pre;
	margin: 20px;
	padding: 5px;
}

.program-display-inner {
	border-left: 15px solid var(--program-block-accent-color);
	padding: 5px;
}
.program-display-outer {
	border-left: 4px solid var(--program-block-accent-color);
	border-top: 2px solid var(--program-block-accent-color);
	border-bottom: 2px solid var(--program-block-accent-color);
	padding: 3px;
}

.expression-display-block {
	background-color: var(--program-expression-background-color);
}
.expression-container {
	border: 1px solid var(--program-expression-outline-color);
	text-shadow: 0 0 2px black;
}

.display-scroller {
	max-height: 600px;
	width: fit-content;
	overflow-y: scroll;
	border-top: 5px solid gray;
	border-bottom: 5px solid gray;
}

h2 {
	margin: 0;
	margin-top: 10px;
	color: #EE0;
}

div.horizontal {
	display: flex;
	gap: 10px;
}

input[type="checkbox"] {
  transform: translateY(-5px) scale(1.5);
	margin: 0px;
	padding: 0px;
}

@keyframes sizebounce {
	0% {
		transform: scale(1.0);
	}
	25% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1.0);
	}
	75% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1.0);
	}
}
